body {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(39, 33, 39);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 2em;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 101, 115);
}

.photo_main_nav {
    width: 50px;
    height: 50px;
    margin-left: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    padding: 0.1em;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid #dbdbdb;
    cursor: pointer;
}

nav {
    align-self: center;
}

.nav {
    text-align: center;
    align-self: center;
}

.nav_element {
    display: inline-block;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    font-size: 1.1rem;
    background-color: #dbdbdb;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 600;
}

a {
    border-radius: 8px;
}

main {
    align-self: center;
    margin-top: 4rem;
    width: 60%;
    color: whitesmoke;
}

.experience_section {
    margin-top: 1em;
}

h3 {
    font-weight: 700;
    font-size: 2.4vh;
}

h6 {
    font-weight: 600;
    margin-top: 1em;
    font-size: 2.2vh;
}

.experience_list_item {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.2rem;
    list-style-type: disc;
    list-style-position: inside;
}

.delimiter {
    margin: 16px auto;
    font-size: 3vh;
    text-align: center;
}

.link {
    color: cornsilk;
    text-decoration: underline;
}
