header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

figure {
    align-self: center;
}

nav {
    align-self: center;
    margin: 0.7em auto;
}

.nav_element {
    margin-right: 0.3em;
}

.about_social_logo {
    margin-bottom: 0.5em;
}
