body {
    background-color: rgb(39, 33, 39);
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 101, 115);
}

.photo_main_nav {
    width: 50px;
    height: 50px;
    margin-left: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    padding: 0.1em;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid #dbdbdb;
    cursor: pointer;
}

nav {
    align-self: center;
}

.nav {
    text-align: center;
    align-self: center;
}

li {
    display: inline-block;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    font-size: 1.1rem;
    background-color: #dbdbdb;
    border-radius: 8px;
    box-sizing: border-box;
}

a {
    border-radius: 8px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;   
}

.background {
    width: 100vw;
    height: 85vh;
    background-image: url("../images/motivational.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 15%;
}

.about_social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
}

.about_social_logo {
    width: 64px;
    height: 64px;
    margin-right: 2em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    background-color: white;
}
