header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

figure {
    align-self: center;
}

nav {
    align-self: center;
    margin: 0.7em auto;
}

.nav_element {
    margin-right: 0.3em;
}

.layer {
    padding-top: 2rem;
}

.welcome_message {
    font-size: 1.6rem;
}

.about_social_logo {
    width: 48px;
    height: 48px;
    margin-bottom: 0.5em;
}
